/*https://www.w3schools.com/cssref/css_selectors.asp*/


body {
    background: #000;
    font-family: "Garamond", "Times New Roman", Serif;
    text-align: center;
}

h1 {
    font-family: "Garamond", "Times New Roman", Serif;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

.header {
    width: 100%;
    font-size: 50px;
}

.wrapper {
    height: 1000px;
    width: 100%;
}

.board {
    height: 510px;
    width: 510px;
}

/*TODO: fix boxes*/
.box {
    height: 170px;
    width: 170px;
    border: 10px solid #fff;
    cursor: pointer;
    float: right;
    /*
    https://www.w3schools.com/cssref/css3_pr_box-sizing.asp
    https://css-tricks.com/box-sizing/
    */
    box-sizing: content-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.controller {
    /*TODO: text characteristics*/
}


