/*https://www.w3schools.com/cssref/css_selectors.asp*/


body {
    background: #000;
    font-family: "Garamond", "Times New Roman", Serif;
    text-align: center;
}

h1 {
    font-family: "Garamond", "Times New Roman", Serif;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

.header {
    width: 100%;
}

.wrapper {
    height: 1000px;
    width: 100%;
    margin: 0px;
}

.board {
    height: 510px;
    width: 510px;
    margin: 0px;
}

/*TODO: fix boxes*/
.box {
    height: 170px;
    width: 170px;

    border-width: 10px;
    border-color: #f00;
    text-align: center;

    cursor: pointer;
}

.controller {
    /*TODO: text characteristics*/
}


